.git
.github
.svelte-kit
build
node_modules
.pnpm-store
.cache
.local
.sverlin-stale-storage
outputs
data/projects
data/project-archives
tmp
.env
.env.*
!.env.example
compile/.stack-work
**/.stack-work
*.tmp
compiled.json
