repository hackage.haskell.org
  url: https://hackage.haskell.org/
  secure: True

remote-repo-cache: /workspaces/phd-sverlin/.cache/cabal/packages
logs-dir: /workspaces/phd-sverlin/.cache/cabal/logs
build-summary: /workspaces/phd-sverlin/.cache/cabal/logs/build.log
store-dir: /workspaces/phd-sverlin/.local/state/cabal/store
world-file: /workspaces/phd-sverlin/.local/state/cabal/world
